:root {
  font-size: 10px;
  --text-color: #000000;
  --bg-color: #ffffff;
  --main-bg-color: #89aeff;
  --section-shadow: rgba(100, 100, 111, 0.2) 0px 0px 25px 0px;
  --sec-border-radius: 35px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
